*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/quicksand/Quicksand-Light.eot');
    src: url('../fonts/quicksand/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/quicksand/Quicksand-Light.woff2') format('woff2'),
        url('../fonts/quicksand/Quicksand-Light.woff') format('woff'),
        url('../fonts/quicksand/Quicksand-Light.ttf') format('truetype'),
        url('../fonts/quicksand/Quicksand-Light.svg#Quicksand-Light') format('svg');
    /* font-weight: 300; */
    font-style: normal;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */

.header .header-main{
    display: flex;
  
    justify-content: space-between;
    align-items: center;
   
    
    
}
.header .header-main .main{
    display: flex;
    margin-top:10px;
  
    
}
.header .header-main .main li{
    list-style: none;
    margin-right: 30px;
    
}
.header .header-main .main li a{
    text-decoration: none;
    color:rgb(233, 82, 17) ;
}
.cart-shopping{
    color: #E95221;
}
/* <!-- navbar --> */

.navbar img {
    width:60px;
    margin-right: 50px;
}
.navbar-nav ul li {
  margin-right: 30px;
}
.btn{
    border: 2px solid  chocolate;
    color:black;
}

/* slider */
.slider{
    margin-top: 30px;
}
.owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}

/* section_services */
.section_services{
    margin-top: 30px;
  
    
}
.cart-services{
    height:60px;
    
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    display: flex;
   
    align-items: center;
}
.cart-services .icon-services{
    margin-left: 20px;
    font-size: 30px;
    color: rgb(233, 82, 17);
}
.cart-services .title-services{
    font-size: 20px;
    color:rgb(233, 82, 17) ;
    margin-left: 20px;
    margin-top: 20px;
}

/* sale-off */
.sale {
    margin-top: 30px;
    width: 100%;
   
   
    text-align: center;
    color:rgb(233, 82, 17) ;
}
.cart-sale{
    margin-top: 30px;
}
.cart-sale img{
    width:100%;
    object-fit: cover;
}
/* products */
.products{
    margin-top:30px ;
    text-align: center;
    color:rgb(233, 82, 17);
}
.cart-products{
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}
.cart-products:hover .title-products{
    transform: translateX(0);
}
.cart-products a img{
    width: 100%;
    object-fit: cover;
}
.title-products {
    background-color: rgb(233, 82, 17);
    color: white;
    position: absolute;
    right: 0;
    top: 65%;
    padding: .5em 1em; 
    transform: translateX(300px);
    transition: .5s ease;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem

   
}

/* new-hot */
.new-hot{
    margin-top: 30px;
    text-align: center;
    color: rgb(233, 82, 17);
}

.cart-new{
    margin-top: 30px;
    box-shadow: 0 0 3px  rgb(233, 82, 17);
    color: black;
    /* height:300px; */
    text-align: center;

}
.cart-new img{
    width: 100%;
    object-fit: cover;
}
.cart-new p {
    font-size: 20px;
}

/* contact */
.contact{
    margin-top: 30px;
    text-align: center;
    color:  rgb(233, 82, 17) ;
}
.cart-contact{
    margin-top: 30px;
    width:100%;
    height:70px;
}
.cart-contact img {
    width:100%;
    height:70px;
    object-fit: cover;
}

/* footer */
.footer{
    margin-top: 30px;
    width:100%;
    
    
}

/* category-products */
.category-products{
    margin-top:30px;
}
.content-category{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.category-products-menu {
    width:30%;
   
   
    text-align: center;
}
.category-products-menu .list-group .list-group-item {
    display: flex;
    justify-content: first baseline;
}
.category-products-menu .list-group .list-group-item label{
    margin-left: 20px;
}
.category-products-show {
    width:60%;
 
}
.cart-category-products{
     height:350px; 
    
    text-align: center;
    margin-bottom: 30px;
}
.cart-category-products a{
    text-decoration: none;
}
.cart-category-products a img {
    width: 100%;
    height:250px;
    object-fit: cover;
}
.cart-category-products .title-category{
    font-size: 15px;
    color: black;
}
.cart-category-products .price-category{
    font-size: 15px;
    color: rgb(233, 82, 17);
}
.listPage{
    padding:5px;
    text-align: center;
    list-style: none;
}
.listPage li{
    background-color: #ffffffBD;
    padding:10px;
    display: inline-block;
    margin:0 10px;
    cursor: pointer;
}
.listPage .active{
    background-color:rgb(233, 82, 17) ;
    color:#fff;
}
/* login */
.login{
    width:100%;
   
  
    margin-top: 200px;
    margin-bottom: 200px;
}
.group-login {
    width: 100%;
    display: flex;
    justify-content: center;
}
.cart-login{
    width:40%;
    

}
.cart-login h1 {
    text-align: center;
    color:rgb(233, 82, 17);
    font-size: 20px;
}


.cart-login form {
    text-align: center;
    color: rgb(233, 82, 17);
}
.cart-login form button{
    background-color: rgb(233, 82, 17);
}
.cart-login form button:hover{
    background-color: #8DC63F;
}
.cart-login form button i {
    color: #FFFFFF;
}
.form-check .form-check-input{
    background-color:rgb(233, 82, 17);
}
.cart-login form button a {
    text-decoration: none;
}
cart-login form .col a{
    text-decoration: none !important;
}

/* register */
.register{
    color:rgb(233, 82, 17);
    border: none !important;
}
.register button{
    background-color: rgb(233, 82, 17);
    color: #FFFFFF;
}
.register button:hover{
    background-color: #8DC63F;
}
.register p{
    color:rgb(233, 82, 17) !important;
}
.register p a{
    color: #8DC63F !important;
    text-decoration: none !important;
}
/* detail */
.detail{
    margin-top:50px;

}

.image-detail img{
    width:100%;
    object-fit: cover;
    
    
}

.show-detail h3{
    color:rgb(233, 82, 17) ;
    margin-top: 30px;
  
}
.show-detail button{
    background-color:rgb(233, 82, 17) ;
    color: #FFFFFF;
    width: 140px;
    height:40px;
    margin-top: 30px;
    
    
}

.pro-discount.uu_dai {
   
    margin-top: 30px;
}
.pro-discount {
    
    background: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px dashed #E95221;
    background: rgba(1, 86, 127, 0.02);
}

.cart-moder-over{
    width: 100%;
    height:auto;
    
    position: fixed;
    transform: translateX(300%); 
    transition: .5s ease-out;
}
.close-cart{
    width:100%;
    display: flex;
    justify-content: end;
    
}
.close-cart i{
    font-size: 30px;
    color: rgb(233, 82, 17);
    margin-top:10px;
}
.show-detail button i{
    margin-right: 10px;
}
/* liên hệ  */
.connection {
    width: 100%;
    margin-top: 30px;

}

.connection-title p {
    color: #E95221;
}

.connection-input {
    margin-bottom: 30px;
}
.btn-success {
    color: #FFFFFF;
}
.list-unstyled li i {
    color:#E95221 !important;
}
.btn-primary {
    background-color: #E95221;
    color: #FFFFFF;
}






